.title {
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
}

.hero {
    background-color: rgb(228, 228, 228);
    border-radius: 20px 20px 0 0;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 20px;
}

.subtitle {
    padding-top: 20px;
    padding-bottom: 20px
}